@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@layer components {
  :root {
    @apply bg-slate-900
  }

  .anim {
    @apply transition-all ease-in-out duration-300
  }
}

.comment_text {
  display: inline-block;
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
}